@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 ,h3 ,h4, h5, h6, p, span {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: (0, 0%, 98%);
}

main {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading h3:nth-child(1) {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    font-size: 1.45rem;
}

.heading h3:nth-child(2) {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 1.45rem;
    margin-bottom: 1rem;
}

.heading p {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    font-size: .9rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 3rem;
}

.grid-item {
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem 2rem;
    overflow: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    gap: .2rem
}

.grid-item p {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    font-size: .75rem;
    margin-bottom: 2rem;
    line-height: 1.7;
}

.grid-item img {
    width: 60px;
    margin-left: auto;
}

.grid-item h3 {
    color: hsl(234, 12%, 34%);
    font-size: 1.2rem;
}

.grid-item:nth-child(1) {
    border-top: 3px solid hsl(180, 62%, 55%);
}
.grid-item:nth-child(2) {
    border-top: 3px solid hsl(0, 78%, 62%);
}
.grid-item:nth-child(3) {
    border-top: 3px solid hsl(34, 97%, 64%);
}
.grid-item:nth-child(4) {
    border-top: 3px solid hsl(212, 86%, 64%);
}

@media only screen and (min-width: 1100px) {
    .heading {
        width: 45%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }


    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, auto);
        width: 92%;
        align-items: center;
        justify-items: center;
        gap: 2rem;
    }

    .grid-item:nth-child(1) {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .grid-item:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .grid-item:nth-child(3) {
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .grid-item:nth-child(4) {
        grid-row-start: 2;
        grid-row-end: 4;
    }
}
